body {
  color: red;
}

.btn {
  padding: 8px 12px;
  border-radius: 10px;
  border: 2px solid rgba(0,0,0,.4);
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.btn:hover {
  border: 2px solid rgba(0,0,0,.8);
  background: rgba(0,0,0,.05);
}
